@import url(https://fonts.googleapis.com/css?family=Cantarell:italic|Droid+Serif:bold);

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color:#fff;
}

h2{
    font-size:46px;
    line-height: 54px;
    color:#fff;
}

h4{
    font-size:20px;
    color:#fff;
}

h6{
    font-weight:700;
    font-size: 12px;
}

p{
    font-size:16px;
    color:#fff;
    margin:15px 0 20px 0;
}

.section-p1{
    padding:40px 80px;
}

.section-m1{
    margin:40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body{
    width:100%;
}

/*Home Page*/

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background:#E3E6F3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header img{
    width: 100px;
    cursor: pointer;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0  20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}

body {
    background-color: black;
}





.container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin: 20px; 
}
.text-content {
    flex: 1; 
}
.blinking-text {
    color: #fff; 
    font-size: 2em; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    animation: blink 0.5s infinite;
    padding-left: 100px;
    padding-top: 200px;
    font-weight: 1000;
    text-decoration:underline;
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}
.normal-text {
    font-size: 1.2em; 
    color: aqua; 
    margin-top: 10px; 
    padding-left: 100px;
    font-weight: 500;
    padding-bottom: 250px;
}
.right-image {
    max-width: 300px; 
    height: auto; 
    margin-left: 20px; 
    margin-right: 300px;
    margin-bottom: 200px;
}





.contact-form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contact-form button {
    background-color: #ff5733;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #e64a19;
}





/*Project Page*/

.Projects{
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
}
.Projects a{
    font-size: 30px;
}
.Projects .pro-1{
    padding-left: 30px;
}
.Projects .pro-2{
    padding-right: 30px;
}


/*About Page*/

#about-head{
    display: flex;
    align-items: center;
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head div{
    padding-left: 40px;
}


#about-head div h2{
    color:#088178;
}





/*Contact Page*/


#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span,
#form-details form span{
    font-size: 12px;
    color: #fff;
}

#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
    color: #fff;
}

#contact-details .details h3{
    font-size:16px;
    padding-bottom: 15px;
    color: #fff;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
    color: #fff;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 14px;
    color: #fff;
}

#contact-details .details li p{
    margin: 0;
    font-size: 14px;
    color: #fff;
}

#contact-details .details li svg{
    color: #fff;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 3px solid #e1e1e1;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 2px solid #e1e1e1;
}

#form-details form button{
    background-color: #088178;
    color: #fff;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
    color: #fff;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}














































































    